<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../css/resume-style.css" />
    
    <title>Linh's Résume</title>
</head>
<body>
    {{>header}}

    <div class="resume_content">
        <div class="resume_grid">
            <div class="resume_item title_site">
                <h1>Resume</h1>
            </div>
            <hr>
            <div class="resume_item work">
                <div class="left_site">
                    <h2>Work</h2>
                    <h2>Experience</h2>
                </div>
                <div class="right_side">
                    {{#each job_timeline}}
                    <div class="row">
                        <div class="left_row">
                            <p>{{lookup ../job_timeline @index}}</p>
                        </div>

                        <div class="right_row">
                            <h3>{{lookup ../job_position @index}}</h3>
                            <p>
                                {{lookup ../job_details @index}}
                            </p>
                        </div>
                    </div>
                    {{/each}} 
                </div>
            </div>
            <hr>
            <div class="resume_item education">
                 
                <div class="left_site">
                    <h2>Education</h2>
                    <h2></h2>
                </div>

                <div class="right_side">
                    {{#each edu_timeline}}
                    <div class="row">
                        <div class="left_row">
                            <p>{{lookup ../edu_timeline @index}}</p>
                        </div>
                        <div class="right_row">
                            <h3>{{lookup ../edu_major @index}}</h3>
                            <p>
                                {{lookup ../edu_details @index}}
                            </p>
                        </div>
                    </div>
                    {{/each}} 
                </div>
            </div>
            <hr>
            <div class="resume_item skill">
                 
                <div class="left_site">
                    <h2>Skills</h2>
                    <h2>& Expertise</h2>
                </div>

                <div class="right_side">
                    {{#each skill_status}}
                    <div class="row">
                        
                        <div class="left_row">
                            <p>{{lookup ../skill_status @index}}</p>
                        </div>
                        <div class="right_row">
                            <h3>{{lookup ../skill_title @index}}</h3>
                            <p>
                                {{lookup ../skill_details @index}}
                            </p>
                        </div>
                        
                    </div>
                    {{/each}} 
                </div>
            </div>
        </div>
        
    </div>
    
    
    {{>footer}}
    <script src="../script.js"></script>
</body>
</html>